/*
 ===========================================================================================
 + Cerberus Content Management System.
 + ---
 + - Author : Gary Christopher Johnson
 + - E-Mail : TinkeSoftware@Protonmail.com // GCJohnsonChevalier@Protonmail.com
 + - Company: Tinke Software
 + - Notes  : View this file in a non-formatting text editor for correct indentation display
 + ---
 +
 +
 +
 +
 +
 +
 +
 +
 +
 +
 + ---
 + - File Location: root->System->Default->MySQL->Style.css
 + - File Version:  0.4 - Sunday, September, 08, 2019.
 + ---
 +%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
 +%%%()()%%()()()%%()()()%%()()()%%()()()%%()()()%%()%%()%%%%%%()()()%%%%%%%%%%%%
 +%%()%%%%%()%%%%%%()%%()%%()%%()%%()%%%%%%()%%()%%()%%()%%%%%%()%%%%%%%%%%%%%%%%
 +%%()%%%%%()%%%%%%()%%()%%()%%()%%()%%%%%%()%%()%%()%%()%%%%%%()%%%%%%%%%%%%%%%%
 +%%()%%%%%()%%%%%%()%%()%%()%%()%%()%%%%%%()%%()%%()%%()%%%%%%()%%%%%%%%%%%%%%%%
 +%%()%%%%%()()()%%()()()%%()()()%%()()()%%()()()%%()%%()%%%%%%()%%%%%%%%%%%%%%%%
 +%%()%%%%%()%%%%%%()%%()%%()%%()%%()%%%%%%()%%()%%()%%()%%%%%%()%%%%%%%%%%%%%%%%
 +%%()%%%%%()%%%%%%()%%()%%()%%()%%()%%%%%%()%%()%%()%%()%%%%%%()%%%%%%%%%%%%/-\%
 +%%()%%%%%()%%%%%%()%%()%%()%%()%%()%%%%%%()%%()%%()%%()%%%%%%()%%%%%%%%%%%%|4|%
 +%%%()()%%()()()%%()%%()%%()()()%%()()()%%()%%()%%()()()%%()()()%%%%%%%%%%%%\-/% Build 0.6
 ===========================================================================================
*/

/*
 ============================================
 +
 + Cascading Style Sheet
 + Configuration Settings
 +
 ============================================
*/

/*
 ============================================
 +
 + HTML, Scrollbar(s)
 +
 ============================================
*/

html {
/*
 ============================================
 + HTML->Font Family
 ============================================
*/
	font-family: Arial;
/*
 ============================================
 + HTML->Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + HTML->Font Size
 ============================================
*/
	font-size: 11px;
} /* [ + ] HTML */

/*
 ============================================
 +
 + Document Head
 +
 ============================================
*/

head {

} /* [ + ] Head */

/*
 ============================================
 +
 + Document Body
 +
 ============================================
*/

/*
 ============================================
 + Body->Background
 ============================================
*/

body {
/*
 ============================================
 + Body->Background->Color/Image
 ============================================
*/
	background: #3A5176 url(../Image/Background/Background.png);
/*
 ============================================
 + Body->Background->Repeat
 ============================================
*/
	background-repeat: no-repeat;
/*
 ============================================
 + Body->Background->Attachment
 ============================================
*/
	background-attachment: fixed;
} /* [ + ] Body */

/*
 ============================================
 +
 + Document Table, TR
 +
 ============================================
*/

table, tr {
/*
 ============================================
 + Table, TR->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + Table, TR->Font Family
 ============================================
*/
	font-family: Arial;
/*
 ============================================
 + Table, TR->Font Color
 ============================================
*/
	color: #FFFFFF;
} /* [ + ] Table, TR */

/*
 ============================================
 +
 + Document TD
 +
 ============================================
*/

td {
/*
 ============================================
 + TD->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + TD->Font Family
 ============================================
*/
	font-family: Arial;
/*
 ============================================
 + TD->Font Color
 ============================================
*/
	color: #FFFFFF;
} /* [ + ] TD */

/*
 ============================================
 +
 + TD
 +
 ============================================
*/

/*
 ============================================
 + TD->Background Images
 ============================================
*/

td.MI2 { background-image: url('../Image/Module/2.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.MI4 { background-image: url('../Image/Module/4.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.MI5 { background-image: url('../Image/Module/5.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.MI6 { background-image: url('../Image/Module/6.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.MI8 { background-image: url('../Image/Module/8.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.MI9 { background-image: url('../Image/Module/9.png'); opacity: 0.7; filter: alpha(opacity=75); }

td.BI2 { background-image: url('../Image/Block/2.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.BI4 { background-image: url('../Image/Block/4.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.BI5 { background-image: url('../Image/Block/5.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.BI6 { background-image: url('../Image/Block/6.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.BI8 { background-image: url('../Image/Block/8.png'); opacity: 0.7; filter: alpha(opacity=75); }
td.BI9 { background-image: url('../Image/Block/9.png'); opacity: 0.7; filter: alpha(opacity=75); }

/*
 ============================================
 +
 + Button
 +
 ============================================
*/

button {
/*
 ============================================
 + Background Color
 ============================================
*/
	background-color: #6890CF;
/*
 ============================================
 + Border
 ============================================
*/
	border: none;
/*
 ============================================
 + Color
 ============================================
*/
	color: white;
/*
 ============================================
 + Padding
 ============================================
*/
	padding: 10px;
/*
 ============================================
 + Text Alignment
 ============================================
*/
	text-align: center;
/*
 ============================================
 + Text Decoration
 ============================================
*/
	text-decoration: none;
/*
 ============================================
 + Display
 ============================================
*/
	display: inline-block;
/*
 ============================================
 + Font Size
 ============================================
*/
	font-size: 8px;
/*
 ============================================
 + Font Family
 ============================================
*/
	font-family: Arial;
} /* [ + ] Button

/*
 ============================================
 +
 + Input, TextArea, Select, Option
 +
 ============================================
*/

input, textarea, select, option {
/*
 ============================================
 + Input, TextArea, Select, Option->Font Family
 ============================================
*/
	font-family: Arial;
/*
 ============================================
 + Input, TextArea, Select, Option->Font Weight
 ============================================
*/
	font-weight: bold;
/*
 ============================================
 + Input, TextArea, Select, Option->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + Input, TextArea, Select, Option->Font Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + Input, TextArea, Select, Option->Background Color
 ============================================
*/
	background: #6890CF;
/*
 ============================================
 + Input, TextArea, Select, Option->Border
 ============================================
*/
	border: 1px solid #000000;
} /* [ + ] Input, TextArea, Select, Option */

/*
 ============================================
 +
 + Link, Visited Link, Active Link, Hover-Over Link
 +
 ============================================
*/

/*
 ============================================
 + Link
 ============================================
*/

a:link {
/*
 ============================================
 + Link->Link Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + Link->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + Link->Font Weight
 ============================================
*/
	font-weight: bold;
/*
 ============================================
 + Link->Text Decoration
 ============================================
*/
	text-decoration: none;
} /* [ + ] Link */

/*
 ============================================
 + Link Visited
 ============================================
*/

a:visited {
/*
 ============================================
 + Link Visited->Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + Link Visited->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + Link Visited->Font Weight
 ============================================
*/
	font-weight: bold;
/*
 ============================================
 + Link Visited->Text Decoration
 ============================================
*/
	text-decoration: none;
} /* [ + ] Link->Visited */

/*
 ============================================
 + Link Active
 ============================================
*/

a:active {
/*
 ============================================
 + Link Active->Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + Link Active->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + Link Active->Font Weight
 ============================================
*/
	font-weight: bold;
/*
 ============================================
 + Link Active->Text Decoration
 ============================================
*/
	text-decoration: none;
} /* [ + ] Link->Active */

/*
 ============================================
 + Hover Over Link
 ============================================
*/

a:hover {
/*
 ============================================
 + Link Hover->Color
 ============================================
*/
	color: #6890CF;
/*
 ============================================
 + Link Hover->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + Link Hover->Font Weight
 ============================================
*/
	font-weight: bold;
/*
 ============================================
 + Link Hover->Text Decoration
 ============================================
*/
	text-decoration: underline;
} /* [ + ] Link->Hover Over */

/*
 ============================================
 +
 + Font, Center, H1 Alignment
 +
 ============================================
*/

/*
 ============================================
 + Font
 ============================================
*/

font {
/*
 ============================================
 + Font->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + Font->Font Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + Font->Font Family
 ============================================
*/
	font-family: Arial;
/*
 ============================================
 + Font->Text Decoration
 ============================================
*/
	text-decoration: none;
} /* [ + ] Font */

/*
 ============================================
 + Center
 ============================================
*/

center {
/*
 ============================================
 + Center->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + Center->Font Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + Center->Font Family
 ============================================
*/
	font-family: Arial;
/*
 ============================================
 + Center->Text Decoration
 ============================================
*/
	text-decoration: none;
} /* [ + ] Center */

/*
 ============================================
 + H1 Alignment
 ============================================
*/

h1 {
/*
 ============================================
 + H1 Alignment->Font Size
 ============================================
*/
	font-size: 11px;
/*
 ============================================
 + H1 Alignment->Font Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + H1 Alignment->Font Family
 ============================================
*/
	font-family: Arial;
/*
 ============================================
 + H1 Alignment->Text Decoration
 ============================================
*/
	text-decoration: none;
} /* [ + ] H1 Alignment */

/*
 ============================================
 +
 + BR Seperator
 +
 ============================================
*/

br { }

/*
 ============================================
 +
 + Images
 +
 ============================================
*/

/*
 ============================================
 + Image
 ============================================
*/

img {
/*
 ============================================
 + Image->Border
 ============================================
*/
	border: 0px;
/*
 ============================================
 + Image->Opacity
 ============================================
*/
	opacity: 0.7;
/*
 ============================================
 + Image->Filter
 ============================================
*/
	filter: alpha(opacity=75);
} /* [ + ] Images */

/*
 ============================================
 + Image Hover Over
 ============================================
*/

img:hover {
/*
 ============================================
 + Image Hover->Border
 ============================================
*/
	border: 0px;
/*
 ============================================
 + Image Hover->Opacity
 ============================================
*/
	opacity: 1.0;
/*
 ============================================
 + Image Hover->Filter
 ============================================
*/
	filter: alpha(opacity=100);
} /* [ + ] Hover Over Images */

/*
 ============================================
 +
 + HR Seperator
 +
 ============================================
*/

hr {
/*
 ============================================
 + HR Seperator->Color
 ============================================
*/
	color: #FFFFFF;
/*
 ============================================
 + HR Seperator->Font Weight
 ============================================
*/
	font-weight: bold;
/*
 ============================================
 + HR Seperator->Border Color
 ============================================
*/
	border: 1px solid #FFFFFF;
} /* [ + ] HR */
